@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-hue: 231;
    --primary-saturation: 48%;
    --primary-lightness: 55%;

    --background-saturation: 84%;
    --background-lightness: 4.9%;

    --background: var(--primary-hue) var(--background-saturation) var(--background-lightness);
    --foreground: 210 40% 98%;
    
    --card: var(--primary-hue) 84% 8%;
    --card-foreground: 210 40% 98%;
    
    --popover: var(--primary-hue) 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    
    --primary: var(--primary-hue) var(--primary-saturation) var(--primary-lightness);
    --primary-foreground: var(--primary-hue) calc(var(--primary-saturation) / 2) calc(100% - var(--primary-lightness));
    
    --secondary: var(--primary-hue) 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: var(--primary-hue) 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: var(--primary-hue) 32.6% 22.5%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    
    --border: var(--primary-hue) 32.6% 17.5%;
    --input: var(--primary-hue) 32.6% 17.5%;
    
    --ring: var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) + 5%);
    --radius: 0.75rem;
  }

  .dark {
    --background-saturation: 84%;
    --background-lightness: 4.9%;

    --background: var(--primary-hue) var(--background-saturation) var(--background-lightness);
    --foreground: 210 40% 98%;

    --card: var(--primary-hue) 84% 8%;
    --card-foreground: 210 40% 98%;

    --popover: var(--primary-hue) 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: var(--primary-hue) var(--primary-saturation) var(--primary-lightness);
    --primary-foreground: var(--primary-hue) calc(var(--primary-saturation) / 2) calc(100% - var(--primary-lightness));
    
    --secondary: var(--primary-hue) 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: var(--primary-hue) 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: var(--primary-hue) 32.6% 22.5%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    
    --border: var(--primary-hue) 32.6% 17.5%;
    --input: var(--primary-hue) 32.6% 17.5%;
    
    --ring: var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) + 5%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
